<div class="jumbotron text-center">
	<h1>Nerds and Proud</h1>

	<p>{{ tagline }}</p>

	<h1>Select User:</h1>

	<select ng-model="selectedUser" ng-options="user as user.name for user in users" ng-change="updateEntries()"></select>

	<p>Selected user: <b>{{selectedUser.name}}</b></p>

	<h1>Entries:</h1>
	<ul>
		<li ng-repeat="entry in entries">
			{{entry.content}} <a href="" ng-click="deleteEntry(entry)">x</a>
		</li>
	</ul>

	<h2>Add Entry</h2>
	<form novalidate class="simple-form">
		<table>
			<tr>
				<td>Entry:</td>
				<td><input type="text" ng-model="newContent" /></td>
			<tr>
				<td></td>
				<td>
					<input type="submit" ng-click="createEntry(newContent)" value="Create" />
				</td>
			</tr>
		</table>
	</form>
</div>