
.layout-content, .doc-content {
  max-width: 864px;
  margin: auto;
}

.login-window {
	min-width: 500px;
}

.md-button {
	margin: 0.5em !important;
}

md-progress-linear .md-container {
	margin-top: -5px;
}

.login-error-box span{
	color: red;
}